<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" href="./assets/css/style.css">
  <script type="text/javascript" src="node_modules/jquery/dist/jquery.js" defer></script>
  <script src="./assets/js/main.js"></script>
</head>
<body>
  <img src="./assets/images/leo.jpg" alt="">

  <script defer>
      window.addEventListener("load", function () {})
  </script>
</body>
</html>